body{
	background-color: azure;
}

h1{
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	color: blue ;
}

div {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  tr{
	height: 40px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: brown;
  }

